
<div> 
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          About Us
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="px-4 py-6 sm:px-0">
          <div class="border-4 border-solid border-gray-200 rounded-lg h-96 font-semibold text-center"> 
            Founded in 1997, Pitt Model United Nations is a competitive, academic organization at the University of Pittsburgh. The club provides members the opportunity to learn about and discuss current international diplomacies. Each student participating in a conference will assume the role of a delegate representing a country in the united Nations.
            <br><br>
            Purpose The Model United Nations Club serves as a vehicle through which students can prepare for and participate in international relations competitions, notably Model United Nations simulations. In these competitions, each student assumes the role of a delegate form the country they are assigned and represents the foreign policy for this country. </div>
          </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
  
  
